@font-face {
  font-family: firacode;
  src: url(FiraCode-Medium.ttf);
}

a {
  color: #6699CC;
}

.fira {
  font-family: firacode;
  font-size: 11pt;
  color: white;
}

.back {

  font-family: firacode;
  font-size: 11pt;
  color: #6699CC;
}

.terminal-window {
  background-color: #1D1D1D;
  border-style: double;
  border-color: white;

  height: fit-content;
  width: fit-content;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  padding-left: 11pt;
  right: 0;
  padding-right: 11pt;

  margin: auto;
}

.post {
  font-family: firacode;
  font-size: 110%;
  color: white;
  line-height: 2.0;
  margin-left: 3%;
  margin-right: 3%;
}

.footnote {
  font-family: firacode;
  font-size: 80%;
  color: white;
  line-height: 2.0;
}

body {
  background-color: #1D1D1D;
}