@font-face {
  font-family: firacode;
  src: url(FiraCode-Medium.ttf);
}

a {
  color: #6699CC;
}

.rock {
  background-image: url("blog/special/2yr/begin/drive/IMG_2516.jpeg")
}

.scalator {
  background-image: url("blog/special/2yr/begin/relaxation/scalator.jpg");
  background-position: center;
}

.tuspies {
  background-image: url("blog/special/2yr/begin/enjoyment/tuspies.jpeg");
  background-repeat: no-repeat;
  background-position: center;
}

.center {
  width: 500px;
  height: 100px;
  color: red;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;
}

.default {
  font-family: firacode, monospace;
  color: white;
}

.fira {
  list-style-type: none;
  font-family: firacode, monospace;
  font-size: 11pt;
  color: white;
}

.back {

  font-family: firacode, monospace;
  font-size: 11pt;
  color: #6699CC;
}

.terminal-window {
  background-color: #1D1D1D;
  border-style: double;
  border-color: white;

  display: grid;
  place-items: center;
  height: fit-content;
  width: fit-content;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  padding-left: 11pt;
  right: 0;
  padding-right: 11pt;

  margin: auto;
}

.terminal-window-fixed {
  background-color: #1D1D1D;
  border-style: double;
  border-color: white;

  display: flex;
  justify-content: center;
  flex-direction: row;

  height: 75%;
  width: 75%;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;
}

@media only screen and (max-width: 800px) {
  .terminal-window-fixed {
    flex-flow: column;
    height: 100%;
    overflow: scroll;
  }
}

.sidebar {
  width: fit-content;
  display: flex;
  flex-direction: column;
  margin: 1% 0.5% 1% 1%;
  padding: 1%;
  background-color: #1A1A1A;
  flex-grow: 1;
  overflow-y: scroll;
  overflow-x: visible;
}

.sidebar-top {
  flex-grow: 3;
  width: fit-content;
}

#statuscafe {
  font-family: fira-code, monospace;
  padding: .5em;
  background-color: #1F1F1F;
  color: white;
}

#statuscafe-username {
  font-family: fira-code, monospace;
  margin-bottom: .5em;
}

#statuscafe-content {
  color: white;
  font-family: fira-code, monospace;
  margin: 0 1em 0.5em 1em;
}

.buttons {
  width: fit-content;
  flex-basis: content;
  display: flex;
  flex-flow: row wrap;
  position-anchor: bottom;
}

@media only screen and (max-width: 800px) {
  .buttons {
    width: 30vh;
  }
}

.buttons>img {
  padding: 1vh;
}

.main-content {
  margin: 1vh 1vh 1vh 0.5vh;
  padding: 1vh;
  background-color: #1A1A1A;
  flex-grow: 1;
  overflow: scroll;
}

.main-content-pro {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 1vh 1vh 1vh 0.5vh;
  padding: 1vh;
  background-color: #1A1A1A;
  flex-grow: 2;
  overflow: scroll;
}

@media only screen and (max-width: 800px) {
  .main-content-pro {
    flex-direction: column;
  }
}

.terminal-window-column {
  background-color: #1D1D1D;
  border-style: double;
  border-color: white;

  height: fit-content;
  width: 55%;
  flex-direction: row;

  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;
}

.journal-heading {
  padding: 5vh;
  color: white;
  font-family: firacode, monospace;
  font-size: 130%;
}

.post {
  font-family: firacode, monospace;
  font-size: 110%;
  color: white;
  line-height: 2.0;
  margin-left: 3%;
  margin-right: 3%;
}

.code {
  font-family: firacode, monospace;
  font-size: 100%;
  color: white;
  text-align: center;
  background: black;
}

.footnote {
  font-family: firacode, monospace;
  font-size: 80%;
  color: white;
  line-height: 2.0;
}

body {
  background-color: #1D1D1D;
}

ul {
  list-style-type: none;
  padding: 0;
}